@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0%;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
html::-webkit-scrollbar-track {
  background: #007bce;
  border-radius: 5rem;
}

@keyframes fadeIn {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
}
body {
  height: 200vh;
}

.header {
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: transparent;
}
.header.active {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(3, 3, 3, 0.301);
}
.header .logo {
  width: 8.5%;
  margin-top: -1.2rem;
}
@media (hover: hover) {
  .header .hover-me {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #fff;
  }
  .header .hover-me:hover {
    color: #007bce;
  }
  .header .hover-me.pop {
    color: #242423;
  }
  .header .hover-me.pop:hover {
    color: #007bce;
  }
  .header .hover-it {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #fff;
  }
  .header .hover-it:hover {
    color: #007bce;
  }
  .header .hover-it.pop {
    color: #242423;
  }
  .header .hover-it.pop:hover {
    color: #007bce;
  }
  .header .hover-ye {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #fff;
  }
  .header .hover-ye:hover {
    color: #007bce;
  }
  .header .hover-ye.pop {
    color: #242423;
  }
  .header .hover-ye.pop:hover {
    color: #007bce;
  }
  .header .hover-te {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #fff;
  }
  .header .hover-te:hover {
    color: #007bce;
  }
  .header .hover-te.pop {
    color: #242423;
  }
  .header .hover-te.pop:hover {
    color: #007bce;
  }
  .header .hover-mi {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #fff;
  }
  .header .hover-mi:hover {
    color: #007bce;
  }
  .header .hover-mi.pop {
    color: #242423;
  }
  .header .hover-mi.pop:hover {
    color: #007bce;
  }
}

.icons a, .icons div {
  font-size: 3rem;
  margin-left: 2.5rem;
  color: #242423;
  cursor: pointer;
}
.icons a:hover, .icons div:hover {
  color: #007bce;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0%;
  border: 0.2rem solid #242423;
  cursor: pointer;
  color: #242423;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #007bce;
  z-index: -1;
  transition: 0.2s linear;
  clip-path: circle(0% at 0% 5%);
}
.btn:hover::before {
  clip-path: circle(100%);
}
.btn:hover {
  color: #fff;
}

#menu-btn {
  display: none;
}

.login-form {
  position: absolute;
  top: 115%;
  right: 2rem;
  width: 35rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(3, 3, 3, 0.301);
  padding: 2rem;
  display: none;
}
.login-form.active {
  display: block;
  animation: fadeIn 0.4s linear;
}
.login-form h3 {
  color: #242423;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
.login-form .box {
  width: 100%;
  border-bottom: 0.2rem solid #242423;
  border-width: 0.1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #242423;
  text-transform: none;
  margin: 1rem 0;
}
.login-form .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.login-form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #242423;
}
.login-form .btn {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}
.login-form .btn:hover {
  background: #242423;
}
.login-form .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.login-form .links a {
  font-size: 1.4rem;
  color: #242423;
}
.login-form .links a:hover {
  color: #007bce;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url(/assets/beautiful-pet-portrait-dog.jpg);
  background-position: -5rem;
  background-size: cover;
  position: relative;
}

section {
  padding: 5rem;
}

.content {
  width: 50rem;
  margin-left: 2.5rem;
}
.content h3 {
  font-size: 6rem;
  color: #fff;
  padding-bottom: 1rem;
}
.content span {
  color: #007bce;
}
.content .btn {
  color: #fff;
  border-color: #fff;
}
.content .btn:hover {
  color: #242423;
}
.content .btn::before {
  background: #fff;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 10rem;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about #image {
  flex: 1 1 40rem;
}
.about img {
  width: 100%;
}
.about .content2 {
  flex: 1 1 40rem;
}
.about .content2 h4 {
  font-size: 4rem;
  color: black;
}
.about .content2 span {
  color: #007bce;
}
.about p {
  font-size: 1.6rem;
  color: #242423;
  padding: 1rem 0;
}

.dog-food, .cat-food {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.dog-food .image, .cat-food .image {
  flex: 1 1 40rem;
}
.dog-food .image img, .cat-food .image img {
  width: 100%;
}
.dog-food .content, .cat-food .content {
  flex: 1 1 40rem;
  text-align: center;
  padding: 2rem;
}
.dog-food .content h3, .cat-food .content h3 {
  font-size: 3.5rem;
  color: #242423 !important;
}
.dog-food .content p, .cat-food .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.6rem;
}
.dog-food .content .amount, .cat-food .content .amount {
  font-size: 3.2rem;
  color: black;
  padding: 0.5rem 0;
}
.dog-food .content a img, .cat-food .content a img {
  height: 12rem;
  margin-top: 1rem;
}
.dog-food .content a:hover img, .cat-food .content a:hover img {
  transform: rotate(15deg);
}

.shop .heading {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
  color: black;
}
.shop .heading span {
  color: #007bce;
}

.shop .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.shop .box-container .box {
  position: relative;
  overflow: hidden;
  background: rgba(0, 124, 206, 0.6235294118);
}
.shop .box-container .box h3 {
  font-size: 4rem;
  color: #242423;
}
.shop .box-container .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}
.shop .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 5rem 2rem;
  }
  .home {
    justify-content: center;
    background-position: right;
  }
  .home .content {
    text-align: center;
    padding-bottom: 5rem;
  }
  .home .content h3 {
    font-size: 4.5rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
    color: #242423;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header .login-form {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
